appdirs==1.4.3
attrs==19.3.0
black==19.10b0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
coverage==4.5.3
cryptography==2.8
entrypoints==0.3
flake8==3.7.9
idna==2.8
isort==4.3.21
mccabe==0.6.1
nose==1.3.7
nose-capturestderr==1.2
nose-exclude==0.5.0
nose-watch==0.9.2
ntlm-auth==1.4.0
pathspec==0.7.0
pathtools==0.1.2
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
-e git+https://github.com/pygments/pygments.git@7eb42bdad33c1c56c5d396315a5715a5a74fab0e#egg=Pygments
PySocks==1.7.1
pytz==2019.3
PyYAML==3.13
regex==2020.1.8
requests==2.22.0
requests-ntlm==1.1.0
simplejson==3.17.0
six==1.14.0
testfixtures==6.8.2
toml==0.10.0
typed-ast==1.4.1
tzlocal==2.0.0
urllib3==1.25.8
watchdog==0.10.2
